# Telegram — пока не нужно, но пусть будет
BOT_TOKEN=
CHAT_ID=
ALLOWED_USER_IDS=

# mediamtx
MTX_APP_USER=cctv
MTX_APP_PASS=сгенерируйте_пароль

# MQTT
MQTT_USER=detector
MQTT_PASS=сгенерируйте_пароль

# Часовой пояс
TZ=Europe/Moscow